/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 26, 2023, 11:11:35 PM
    Author     : Minh Quan
*/

/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 21, 2023, 12:43:09 PM
    Author     : Minh Quan
*/
:root{
  --color-shadow: rgba(0, 0, 0, 0.35);
  --color-primary: #7380ec;
  --color-white: #fff;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-1: 0.8rem;
  --border-radius-1: 1.2rem;

  --card-padding-1: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0.2rem 3rem var(--color-shadow);
}
body {
  margin: 0;
  padding: 0;
  background-color: #1d2634;
  color: #9e9ea4;
  font-family: "Montserrat", sans-serif;
}
.right {
    min-height: 100vh; /* sử dụng 100% chiều cao của viewport */
    border-radius: 5px;
    background-color: #fff;
    border-left: 1px solid #263043;;
    border-top: 1px solid #263043;;
}
.header__admin {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    align-items: center;
    flex-direction: column;
}
.rounded-circle {
    border-radius: 50%;
}
.img-table {
    width: 50px;
    height: 50px;
}
.user {
    padding: 20px 25px;
    font-size: 3rem;
}
.bar-icon,
.closebar-icon {
    margin-top: 20px;
    width: 100%;
    height: 30px;
}

.bar-icon,
.closebar-icon {
    display: none;
}

.navbar__monshop {
    display: flex;

    margin-top: 2rem;
    justify-content: flex-start;
}
.navbar-component {
    width: 100%;
    padding: 0;
    list-style: none;
}

.navbar__link {
    text-decoration: none;
    color: #000;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 16px;
    padding: 10px;
    /* width: 100%; */
}
.navbar__link p {
    margin: 0;
    display: inline-block;
    font-size: 1.6rem;
}
.navbar__link p:hover {
    color: #706f6f;
}
.navbar__link:hover {
    text-decoration: none;

    /* background-color: #ccc; */
    color: rgb(15, 15, 15);
}

.add-icon {
    width: 16px;
    font-size: 1.6rem;
    margin-right: 10px;
}
.navbar__link__logout {
    display: none;
}
.shoptitle {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px 20px;
}

.shoptitleh3 {
    font-size: 3rem;
}
.shoptitle-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dasboard__item {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: white;
    margin: 15px 0;
    padding: 20px;
}
.dasboard__item-link {
    color: #000;
}
.dasboard__item-link:hover {
    text-decoration: none;
    color: #363535;
}
.dashboard-icon {
    font-size: 30px;
}

.shoptitle-item__logout {
    margin-left: 10px;
    color: white;
    border: 1px solid #ccc;
    /* padding: 5px 20px; */
    padding: 1rem;
    /* max-height: 30px; */
    background-color: black;
    font-size: 1.6rem;
}

.shoptitle-item__logout:hover {
    text-decoration: none;
    background-color: rgb(30, 30, 30);
    color: white;
}
.dashboard-title {
    font-size: 1.8rem;
    font-weight: bold;
}

.dasboard-price {
    font-size: 1.6rem;
}

.detail-title {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    padding: 10px 0 20px 10px;
    margin-top: 30px;
}

.detail-title h5 {
    font-size: 1.8rem;
    font-weight: bold;
}

.table {
  
}

tr,
th {
    font-size: 1.6rem;
    color: rgb(94 71 62);
}
.action-btn {
    width: 80px;
    border: 1px solid #ccc !important;
    background-color: #ccc !important;
    color: black !important;
    font-size: 1.4rem !important;
    display: block;
}

.action-btn:hover {
    background-color: rgb(190, 190, 190) !important;
    color: black !important;
    cursor: pointer !important;
}
.pagination {
    font-size: 1.6rem;
}
.page-link {
    color: #000 !important;
}
.shoptitle-btn {
    display: flex;
    justify-content: space-between;
}
.search {
    display: flex;
    justify-content: flex-end;
}

.search-input {
    width: 450px;
    height: 93%;
    background: #efeaea;
    border: none;
    outline: none;
    border-radius: 25px 0 0 25px;
    flex: 1;
    padding: 2px 20px;
}

.search-input[type="text"] {
    font-size: 1.6rem;
}

.search-btn {
    background-color: #000;
    color: #fff;
    font-size: 1.6rem;
    margin: 0 10px;
    padding: 10px 10px;
    border-radius: 5px;
}
.search-btn:hover {
    background-color: rgb(51, 50, 50);
    color: #fff;
}

.shop-btn_modify {
    font-size: 1.4rem;
    background-color: white;
    color: #000 !important;
    border: none;
}

.shop-btn_modify:hover {
    background-color: white;
    color: #3f3e3e !important;
    border: none;
}
.shoptitle-btn a {
    display: block;
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin: 0 10px;
    font-size: 1.4rem;
    border-radius: 5px;
}
.shoptitle-btn a:hover {
    text-decoration: none;
    color: #fff;
    background-color: rgb(75, 75, 75);
}

.mon-form {
    width: 500px;
    /* height: 800px; */
    margin: 50px auto;

    border: 1px solid #ccc;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 35px;
    background-color: white;
}

.mon-form p {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.mon-form h5 {
    font-size: 15px;
    padding: 10px 0;
    margin: 0;
    font-weight: 400;
}

.mon-img {
    width: 40%;
    margin: 0 auto 60px;
}

.input-form {
    margin-top: 10px;
    width: 100%;
    border: #ccc 1px solid;
    border-radius: 10px;
    /* margin: 10px; */
    height: 40px;
    font-size: 1.6rem;
}
.input-form option {
    font-size: 1.6rem;
}
.input-form[type="text"],
.input-form[type="password"] {
    font-size: 1.6rem;
    padding: 1rem;
}

.btn-submit {
    margin-top: 40px;
    width: 100%;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
    background-color: black;
    color: #fff;
    font-size: 1.6rem;
}

.btn-submit:hover {
    background-color: #ccc;
    color: #000;
}

.justify-content-end {
    display: flex;
    justify-content: flex-end !important;
}
.shopname {
    text-align: center;
}
.text-end {
    display: flex;
    flex-wrap: nowrap;
}
.avatar {
    display: flex;
    justify-content: center;
    position: relative;
}

.avatar input[type="file"] {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#preview {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.order {
    /* padding: 1% 15% 0 0; */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 5%;
}
.order-container {
    padding: 5% 15%;
    /* margin: 20px auto; */
}

.order-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.order-component {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
.order_item-status {
    margin: 0;
}
.status_order {
    padding: 10px 20px;
    font-size: 1.6rem;
    /* margin: 0 2rem; */
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}
.submitorder-btn {
    width: 100%;
    background-color: #000;
    padding: 10px;
    font-size: 1.6rem;
    border-radius: 5px;
    color: #fff;
}
.submitorder-btn:hover {
    background-color: #3f3e3e;
}
.infouser-item {
    display: flex;
    justify-content: space-between;
    /* margin: 0 60px 0 0; */
    /* margin-right: 9rem; */
    /* padding-right: 10%; */
    padding: 0 85px 0 33px;
    font-weight: bold;
}
.infouser-item p {
    font-size: 1.6rem;
}




.navbar-nav {
    display: flex;
    width: 100%;
    flex-direction: row !important;
}

.nav-link {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100%;
}

.navbar-nav__link {
    font-weight: bold;
    font-size: 1.6rem;
    color: #5a5858;
    padding: 1rem 2rem;
}

.navbar-nav__link:hover {
    color: #777676;
    text-decoration: none;
    /* background-color: #ccc; */
}
.navbar-nav__link-first{
    padding: 1rem 2rem 1rem 0;
}
.input-edit{
    width: 170px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-edit-user{
    display: block;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.note-signup {
    display: block;
    list-style: none;
    padding: 5px;
    margin: 0;
    font-size: 1.4rem;
    border: 1px solid red;
    border-radius: 10px;

}
.note-signup li {
    margin-bottom: 10px;
}
.note-signup li:before {
    content: "• ";
    color: red;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
  font-size: 35px;
}


.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}

.header {
  grid-area: header;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

/* ---------- MAIN ---------- */

.main-container {
    zoom: 0.8;
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
}

/* ---------- MAIN ---------- */

.main-title {
  display: flex;
  justify-content: space-between;
  color: rgb(94 71 62);
}
/* PC */

@media (min-width: 1024px) {
  .header-md {
    display: none;
  }
}

/* Tablet & Mobile */

@media (max-width: 1023px) {
  .header_pc {
    display: none;
  }

  .header-md {
    display: block;
  }
  .navbar-search {
    display: flex;
    justify-content: space-between;
  }
  .navbar-search form {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .navbar-search__input {
    margin: 1rem 2rem 0 0;
    width: 80%;
  }

  .account-form {
    margin: 0 auto;
  }

  .order-container {
    padding: 0 2rem;
  }

  .about-desc {
    padding: 0;
  }

  .navbar__link__logout {
    display: block;
  }

  .shoptitle-item__logout {
    display: none;
  }

  .info-sub-rs {
    display: none;
  }

  .info {
    justify-content: flex-end;
  }
  .product-item {
    margin: 5rem;
  }
  .logo,
  .header-container {
    padding: 0 10px;
  }
  .list-component {
    padding: 0 10px;
  }
  .category-title {
    padding: 0 15px;
    margin: 0;
  }
  .category-list {
    padding: 0 10px;
  }
  .desc-img-home {
    margin: 2rem 0 0 0 !important;
    padding: 0 !important;
  }
  .list-item a {
    margin: 0;
    /* padding: 0; */
  }
}

/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
}

/* Mobile */

@media (max-width: 740px) {
  .header_pc {
    display: none;
  }

  .shoptitle-item__logout {
    display: none;
  }

  .bar-icon {
    display: block;
  }

  .navbar__monshop {
    display: none;
  }

  .shoptitleh3,
  .detail-title h5 {
    display: none;
  }

  .detail-title {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .shop-btn {
    display: block;
    width: 100%;
    margin: 0 0 1rem 0;
  }
.admin-btn{
  margin-top: 1rem !important;
  text-align: center;
}
.th, tr{
    color: #fff;
}
  .shoptitle-btn {
    display: none;
    width: 100%;
    flex-direction: column;
  }
  .search{
    width: 100%;
  }
  .cart-money{
    padding: 0;
  }
  .cart-information input{
    width: 100%;
  }
}



/* ---------- MEDIA QUERIES ---------- */

/* Medium <= 992px */

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}


/* Small <= 768px */

@media screen and (max-width: 768px) {

  .insights{
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }
  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}


/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .hedear-left {
    display: none;
  }
}